(ns ring.util.http-status)
{{#template}}

(def {{fn-name}} {{status}})

(defn {{fn-name}}?
  "Checks whether the response has status code {{status}}"
  [response]
  {:pre (map? response)}
  (= (:status response) {{status}}))
{{/template}}

(def description
  "Maps status to description"
  {
  {{#template}}
  {{status}} "{{description}}"
  {{/template}}
  })
