(ns ring.util.http-predicates)
{{#template}}

(defn {{fn-name}}?
  "Checks whether the response has status code {{status}}"
  [response]
  {:pre (map? response)}
  (= (:status response) {{status}}))
{{/template}}
