(ns ring.util.http-status)

{{#template}}
(def {{fn-name}} {{status}})
{{/template}}

(def status
  "Maps status to name and description"
  {
{{#template}}
   {{status}} {:name "{{name}}"
        :description "{{description}}"}
{{/template}}
   })
