name: Run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-clj:
    strategy:
      matrix:
        # LTS and latest
        jdk: [8,11,16]
    name: "Clojure (Java ${{ matrix.jdk }})"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: "Setup Java ${{ matrix.jdk }}"
      uses: actions/setup-java@v1.4.3
      with:
        java-version: ${{ matrix.jdk }}
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@master
      with:
        lein: 2.7.1
    - name: Run tests
      run: lein all
